{% extends 'base.html' %}
{% block content %}
  <h1>Preguntas</h1>
  <div class="d-flex flex-column">
      {% for question in questions %}
        <div class="card w-100 my-2 p-3">
          <div class="d-flex flex-row">
            <div class="col-10">
              <i class="far fa-question-circle" title="{{ question.description }}"></i>
              <a class="text-muted" style="text-decoration: none" href="{{ question.get_absolute_url }}"><span class="fw-bold">{{ forloop.counter }}.- {{ question.title }}</span></a>
            </div>
            <div class="col-2">
              <span class="fw-lighter">Autor:</span> {{ question.author }}
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column col-4">
              <u class="fw-lighter mb-1">Respuesta</u>
              <div>
                  {% for val in '12345' %}
                    <a class="mx-1 answer {% if question.user_value|slugify == val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                       data-question="{{ question.pk }}"
                       data-value="{{ val }}" href="#" onclick="__answerQuestion({{ question.pk }}, {{ val }})"></a>
                  {% endfor %}
              </div>
            </div>
            <div class="col-4 d-flex flex-column ">
              <u class="fw-lighter mb-1">Evalúa la pregunta</u>
              <div>
                <a class="mx-1 like {% if question.user_likes == 1 %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                   href="#" data-question="{{ question.pk }}" data-value="True"></a>
                <a class="mx-1 like {% if question.user_likes == 0 %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                   href="#" data-question="{{ question.pk }}" data-value="False"></a>
              </div>
            </div>
            <div class="col-2">
              <u class="fw-lighter mb-1">Ranking:</u>
              <div>
                  {{ question.ranking }} pts.
              </div>


            </div>
          </div>
        </div>
      {% empty %}
        <div>No hay preguntas.</div>
      {% endfor %}
  </div>
{% endblock %}

{% block js %}
  <script>
      const csrftoken = getCookie('csrftoken');

      var likes = document.querySelectorAll('.like');
      likes.forEach(function (cb) {
          cb.addEventListener("click", __likes)
      });

      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }


      function __answerQuestion(questionId, answer) {
          var url = 'question/answer';
          var data = {question_pk: questionId, value: answer};

          fetch(url, {
              method: 'POST',
              mode: 'same-origin',
              body: JSON.stringify(data),
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrftoken
              }
          }).then(res => res.json())
              .catch(error => console.error('Error:', error))
              .then(response => {
                  window.location.reload()
              });
      }

      function __likes() {
          var url = 'question/like';
          var data = {question_pk: this.getAttribute('data-question'), value: this.getAttribute('data-value')};

          fetch(url, {
              method: 'POST',
              mode: 'same-origin',
              body: JSON.stringify(data),
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrftoken
              }
          }).then(res => res.json())
              .catch(error => console.error('Error:', error))
              .then(response => {
                  window.location.reload()
              });
      }

  </script>

{% endblock %}
